@import 'tailwindcss';

@theme {
  --color-primary-50: #f1fcfc;
  --color-primary-100: #cef9f6;
  --color-primary-200: #9ef1ed;
  --color-primary-300: #65e3e1;
  --color-primary-400: #35cacc;
  --color-primary-500: #1cabb0;
  --color-primary-600: #14868d;
  --color-primary-700: #146b71;
  --color-primary-800: #15545a;
  --color-primary-900: #16464b;
  --color-primary-950: #06282d;

  --color-secondary-50: #f3f7fc;
  --color-secondary-100: #e6eff8;
  --color-secondary-200: #c8ddef;
  --color-secondary-300: #98c0e1;
  --color-secondary-400: #5297cb;
  --color-secondary-500: #3c83bb;
  --color-secondary-600: #2c699d;
  --color-secondary-700: #245480;
  --color-secondary-800: #22486a;
  --color-secondary-900: #213e59;
  --color-secondary-950: #16273b;

  --color-positive-50: #f0feef;
  --color-positive-100: #dbffd9;
  --color-positive-200: #b8fdb5;
  --color-positive-300: #7ff97c;
  --color-positive-400: #40ec3c;
  --color-positive-500: #15d512;
  --color-positive-600: #0cb909;
  --color-positive-700: #0d8a0b;
  --color-positive-800: #0f6d0e;
  --color-positive-900: #0e590f;
  --color-positive-950: #013202;

  --color-negative-50: #fff0f0;
  --color-negative-100: #ffdede;
  --color-negative-200: #ffc2c2;
  --color-negative-300: #ff9898;
  --color-negative-400: #ff5d5d;
  --color-negative-500: #ff2b2b;
  --color-negative-600: #f70b0b;
  --color-negative-700: #d00505;
  --color-negative-800: #b90909;
  --color-negative-900: #8e0e0e;
  --color-negative-950: #4e0101;

  --color-neutral-50: #f1f7fe;
  --color-neutral-100: #e1edfd;
  --color-neutral-200: #bcdafb;
  --color-neutral-300: #82bcf7;
  --color-neutral-400: #3f9bf1;
  --color-neutral-500: #167ee1;
  --color-neutral-600: #095eb9;
  --color-neutral-700: #094d9b;
  --color-neutral-800: #0c4380;
  --color-neutral-900: #10396a;
  --color-neutral-950: #0a2447;

  /* affiliates */
  --color-purple-cv-50: #fdf3ff;
  --color-purple-cv-100: #f9e6ff;
  --color-purple-cv-200: #f4ccff;
  --color-purple-cv-300: #eea4ff;
  --color-purple-cv-400: #e56eff;
  --color-purple-cv-500: #d537fe;
  --color-purple-cv-600: #bc17e2;
  --color-purple-cv-700: #a00fbc;
  --color-purple-cv-800: #840e9a;
  --color-purple-cv-900: #761385;
  --color-purple-cv-950: #490055;

  --color-resumeble-50: #f1fcfa;
  --color-resumeble-100: #cff8f0;
  --color-resumeble-200: #9ef1e1;
  --color-resumeble-300: #66e2cf;
  --color-resumeble-400: #36cbb8;
  --color-resumeble-500: #20c1af;
  --color-resumeble-600: #148d82;
  --color-resumeble-700: #157069;
  --color-resumeble-800: #155a55;
  --color-resumeble-900: #164b47;
  --color-resumeble-950: #062d2c;

  --color-salary-negotiator-50: #f3f8fc;
  --color-salary-negotiator-100: #e6f0f8;
  --color-salary-negotiator-200: #c7e1f0;
  --color-salary-negotiator-300: #96c8e3;
  --color-salary-negotiator-400: #5dacd3;
  --color-salary-negotiator-500: #368ab5;
  --color-salary-negotiator-600: #2875a1;
  --color-salary-negotiator-700: #225d82;
  --color-salary-negotiator-800: #20506c;
  --color-salary-negotiator-900: #1f435b;
  --color-salary-negotiator-950: #152b3c;

  --color-cv-library-50: #f0f8ff;
  --color-cv-library-100: #dfefff;
  --color-cv-library-200: #b9e1fe;
  --color-cv-library-300: #7bcafe;
  --color-cv-library-400: #34aefc;
  --color-cv-library-500: #0a95ed;
  --color-cv-library-600: #0075cb;
  --color-cv-library-700: #005da4;
  --color-cv-library-800: #055087;
  --color-cv-library-900: #0a4270;
  --color-cv-library-950: #072a4a;

  --text-2xs: 0.625rem;
}
